/* START comman css */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
}
/* START Section5 css */
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.section5 {
    background-color: #D6D6D6;
    padding: 3rem 0;
}
.section5.div{
    text-align: center;
    
}
.section5 img {
    max-width: 100%;
    border-radius: 50%;
}
.section5 .title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 18px;
}
/* END Section5 css */

/* START Section6 css */
section.section6{
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    padding: 10rem 3rem;
}
.section5.div{
    text-align: center;
}
.section6 .title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 18px;
}

.section6 .part1, .part2, .part3
{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three equal-width columns */
   /* gap: 100p;*/
    gap: 2rem;
}
.prizes{
    display: flex;
    justify-content: center;
    align-items: center;
   /* width: auto;
    height: auto;
    width: 291px;
    height: 396px;
    gap: 30px;*/
    gap: 1rem;
}

/* END Section6 css */
